<div class="sidebar">
    <h1 class="sidebar-title">Menu</h1>
    <aside>
        <mat-list>
        <mat-list-item class="selected">
        <mat-icon class="material-symbols-outlined" matListItemIcon>folder</mat-icon>
        <div matListItemTitle class="icon-selected">Listado</div>
        </mat-list-item>
        <mat-list-item>
        <mat-icon class="material-symbols-outlined" matListItemIcon>add</mat-icon>
        <div matListItemTitle>Añadir</div>
        </mat-list-item>
        <mat-list-item>
        <mat-icon class="material-symbols-outlined" matListItemIcon>search</mat-icon>
        <div matListItemTitle>Buscar</div>
        </mat-list-item>
        </mat-list>
    </aside>
</div>  